:root {
    font-size: 16px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.calendar-container {
    position: relative;
}

.calendar-hour {
    position: relative;
    height: 60px;
    margin-bottom: 10px;
}

.calendar-hour-bg {
    position: relative;
    background: white;
}

.card-meeting {
    position: absolute;
    width: auto;
    right: 10px;
    left: 10px;
    z-index: 2;
    padding: 10px;
    background-color: hsla(145, 45%, 60%, 0.438);
    border-left: 4px solid #2ecc71;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.25);
    overflow: hidden;
    border-radius: 4px;
    min-height: 40px;
}

.card-meeting:hover {
    z-index: 3;
    background: rgb(46,204,113);
    background: linear-gradient(90deg, rgba(46,204,113,1) 0%, rgba(43,190,114,1) 100%);
    border-left: none;
    overflow: visible;
    height: max-content !important;
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.card-meeting-name {
    font-size: 18px;
    font-weight: 600;
    color: #2ecc71;
}
.card-meeting:hover .card-meeting-name{
    color: white;
}
.card-meeting-attendees {
    font-size: 16px;
    font-weight: 300;
    color: #2ecc71;
}

.card-meeting-description {
    font-size: 18px;
    font-weight: 400;
    color: #2ecc71;
}

.card-meeting:hover .card-meeting-attendees {
    color: white;
}

.card-meeting:hover .card-meeting-description {
    color: white;
}

.time-now {
    position: absolute;
    width: 100%;
}


.time-now-text {
    color: hsl(202, 98%, 58%)
}

.time-now-line {
    height: 3px;
    align-self: center;
}

.date-input{
    border-width: 1px;
}
