@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

body {
    /* overflow: hidden; */
    background: #fbf9f6;
    color: #181c32;
    position: relative;
}

.mytoast-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    pointer-events: none;
    height: auto;
}

.mytoast-wrapper.show {
    opacity: 1;
    animation: show_mytoast 1s ease forwards;
}

@keyframes show_mytoast {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-5px);
    }
}

.mytoast-wrapper.hide {
    animation: hide_mytoast 1s ease forwards;
}

@keyframes hide_mytoast {
    0% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        opacity: 0.8;
        pointer-events: none;
        transform: translateX(-5%);
    }
    100% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(100%);
    }
}

.mytoast-wrapper .mytoast {
    background: #fff;
    padding: 20px 15px 20px 20px;
    border-radius: 10px;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mytoast-success {
    border-left: 4px solid #2ecc71;
}

.mytoast-error {
    border-left: 4px solid #ef5350;
}

.mytoast .content {
    display: flex;
    align-items: center;
}

.input-text {
    color: #5e6278;
    background-color: #f5f8fa;
    border-color: hsl(200, 2%, 75%);
    padding: 0.75rem;
    padding-left: 1rem;
    border-radius: 8px;
}


.bg-green {
    background-color: #20d489;
}

.button {
    color: #f9f2e7;
    background-color: #20d489;
    font-weight: 600;
    cursor: pointer;
    box-shadow: none;
    border-style: none;
    padding: 0.5rem;
    border-radius: 8px;
}

.button-outline {
    color: #20d489;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
    box-shadow: none;
    border-width: 2px;
    border-color: #20d489;
    border-style: solid;
    padding: 0.4rem;
    border-radius: 8px;
}

.button-outline:hover {
    color: #fff;
    background-color: #20d489;
    font-weight: 600;
    cursor: pointer;
    box-shadow: none;
    border-width: 2px;
    border-color: #20d489;
    padding: 0.4rem;
    border-radius: 8px;
}


.button-outline-red {
    color: #f1416c;
    background-color: #ffeff3;
    font-weight: 600;
    cursor: pointer;
    box-shadow: none;
    border-width: 2px;
    border-color: #f1416c;
    border-style: solid;
    padding: 0.4rem;
    border-radius: 8px;
}

.button-outline-red:hover {
    color: #ffeff3;
    background-color: #f1416c;
    font-weight: 600;
    cursor: pointer;
    box-shadow: none;
    border-width: 2px;
    border-color: #f1416c;
    padding: 0.4rem;
    border-radius: 8px;
}


.button:hover {
    color: #f9f2e7;
    background-color: hsl(155, 72%, 44%);
    font-weight: 600;
    cursor: pointer;
    box-shadow: none;
    border-style: none;
    padding: 0.5rem;
    border-radius: 8px;
}

.input-text {
    color: #5e6278;
    background-color: #f5f8fa;
    border-color: #f5f8fa;
    padding: 0.75rem;
    padding-left: 1rem;
    border-radius: 8px;
    box-shadow: none;
}

.inputHelp {
    font-weight: 400;
    font-size: 14px;
    color: #5e6278;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border: none;
}